body {
	margin: 0;
}

a {
	font-family: 'Fira Sans';
	color: #000;
	transition-duration: 0.2s;
}

a:hover {
	color: #CDAF95;
}

li {
	list-style-type: none;
}

.header {	
	font-size: 12px;
	margin-bottom: 10px; 
	width: 100%;
}

.logo {
	position: absolute;
	left: 1.5%;
	top: 9.5px;
}
.nav {
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
	background: #838B8B;
	list-style-type: none;
	font-family: 'Noto Sans', sans-serif;
	font-size: 12;
	margin: 0;

}

.nav a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
	display: inline-block;
	transition-duration: 0.2s;
	font-family: 'Fira Sans';
	font-size: 12;
	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.nav a:hover {
  background: #FFF;
  color: #838B8B;
}

.pages {
	margin: 0 auto;
	width: 1000px;
	padding: 10px;
	font-size: 12px;
	font-family: 'Fira Sans';
}

.addlink {
	margin-bottom: 10px; 
}


.table {
	padding: 0px;
}

.table td {
	border: 1px solid #838B8B;
	padding: 5px;
}

input[type=text] {
	width: 200px;
	padding: 5px;
	color: #000;
	border-radius: 1px;
	border: 1px solid #838B8B;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Fira Sans';

}

input[type=password] {
	width: 200px;
	padding: 5px;
	color: #000;
	border-radius: 1px;
	border: 1px solid #838B8B;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Fira Sans';

}

input[type=submit] {
	width: auto;
	padding: 10px;
	background: #838B8B;
	color: #FFF;
	border: 1px solid #838B8B;
	cursor: pointer;
	font-family: 'Fira Sans';
	font-size: 12px;
	transition: 0.3s;
	margin: 5px;
}

input[type=submit]:hover {
	background: #FFF;
	color: #838B8B;
	border: 1px solid #838B8B;
}

#modaladd {
	display: none;
	position: fixed;
	top: 20%;
	left: 20%;
	height: auto;
	background: #fff;
	border: 1px solid #838B8B;
	box-shadow:  0px 1px 100px 100px rgba(0,0,0,0.1);
	padding: 20px;
	z-index: 99999;
}

.exitaddnews {
	position: relative;
	left: 97%;
	width: 30px;
	height: 30px;
	background: url("../../img/back.png");
	background-size: 30px;
}

.exitaddnews:hover {
	cursor: pointer;
}

.addnewsform {
	font-size: 12px;
	font-family: 'Fira Sans';
}

#modaledit {
	position: fixed;
	top: 20%;
	left: 20%;
	width: 500px;
	height: auto;
	background: #fff;
	border: 1px solid #838B8B;
	box-shadow:  0px 1px 100px 100px rgba(0,0,0,0.1);
	padding: 20px;
	z-index: 99999;
}

.exiteditnews {
	position: relative;
	left: 97%;
	width: 30px;
	height: 30px;
	background: url("../../img/back.png");
	background-size: 30px;
}

.exiteditnews:hover {
	cursor: pointer;
}

.nevibranno {
	position: fixed;
	top: 10%;
	left: 40%;
    width: 250px; 
    height: 50px;
    background: #B22222; 
    color: #fff; 
    line-height: 3em; 
    padding: -3px;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    display: table-cell;
    vertical-align:middle;
}

#modaladdcar {
	display: none;
	position: fixed;
	top: 10%;
	left: 20%;
	overflow: auto;
	width: 600px;
	height: 700px;
	background: #fff;
	border: 1px solid #838B8B;
	box-shadow:  0px 1px 100px 100px rgba(0,0,0,0.1);
	padding: 20px;
	z-index: 99999;
}

.exitaddcar {
	position: relative;
	left: 97%;
	width: 30px;
	height: 30px;
	background: url("../../img/back.png");
	background-size: 30px;
}

.exitaddcar:hover {
	cursor: pointer;
}

.udob {
	padding: 10px;
	margin: 10px;
	font-size: 12px;
	font-family: 'Fira Sans';
}

.loginfail {
    border: 0px solid #000; 
    width: 250px; 
    height: 50px;
    background: #B22222; 
    color: #fff; 
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 5px; 
    padding: -3px;
    font-family: 'Duru Sans', sans-serif;
    text-align: center;
    display: table-cell;
    vertical-align:middle;
}

.info {
	width: 100%;
}
.name {
	padding: 10px;
	background: #838B8B;
	color: #fff;
	font-family: 'Fira Sans';
}

.har{
	width: 220px;
	padding: 5px;
	font-family: 'Fira Sans';
	border-right: 1px solid #838B8B;
}

.har2 {
	width: 220px;
	padding: 5px;
	font-family: 'Fira Sans';
}